.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blure{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 30%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}
div.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
    margin-left: 5rem;
}
.content {
    max-width: 30rem;
    z-index: 999;
}
.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a0, #757575, #656565);
    background-size: 200%;
    animation: gradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255, 0.3);
}
@keyframes gradient {
    to {
        background-position: 200%;
    }
}
.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;
}
.tag-box .tag:hover{
    color: #714da6;
}

.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128,128,128,0.418);
    color: var(--title);
}
.description{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    max-width: 35rem;
    color: var(--subtitle);
}
.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.robot-3d{
    position: absolute;
    top: 0;
    right: -20%;
}
@media (width < 500px){
    .robot-3d{
        scale: 0.5;
        top: -25%;
        right: -22% !important;
        width: 140vw !important;
    }
}
div.container{
    overflow: hidden;
}
.cssbuttons-io-button {
    background: var(--pink);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
/* From Uiverse.io by McHaXYT */ 
.button {
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #151515;
    color: #eee;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
    text-decoration: none;
    width: fit-content;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .button-span {
    color: #aaa;
  }
@media (max-width: 1300px){
    .content{
        margin-top: 85%;
    }
    .robot-3d{
        scale: 0.8;
        top: -20%;
        right: 2%;
    }
}
@media (max-width: 768px){
    .content{
        margin-top:25rem;
        max-width: 30rem;
        margin-left: 10%;
    }
    .tag-box{
        width: 12rem;
    }
    .content h1{
        font-size: 2.5rem;
    }
    .robot-3d{
        scale: 0.5;
        top: -25%;
        right: 0;
    }
    .description{
        font-size: 1rem;
    }
    .buttons{
        flex-direction: column;
    }
    main{
        margin-left: 0;
    }
}