:root{
  --primary: #0a0a23;
  --secondary: #1a2238;
  --border: #7f5af0;
  --title: #fff;
  --subtitle: #bfc9d1;
  --pink: #ff4ecd;
  --emerald: #00e6a2;
  --icon-hover: #2d3250;
  --transition: 0.3s;
}
.light {
  --primary: #f8fafd;
  --secondary: #e3e8f7;
  --border: #7f5af0;
  --title: #1a2238;
  --subtitle: #4b5563;
  --pink: #ff4ecd;
  --emerald: #00e6a2;
  --icon-hover: #e0d7f7;
  --transition: 0.3s;
}

html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
  color: #fff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}